<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="css/about.css">
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a class="active" href="#">About</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    <h1>ABOUT</h1>
    <div class="footmarquee" style="font-size: 13px;">
      <marquee behavior="alternate" direction="left">
          <b id="heading">DECENTRALIZED NEWS ARTICLE PUBLISHER </b>
        </marquee>
  </div>
  <div id="content">
    <ul id="one">
      <li>The proposed project is a decentralized news platform built on a microservices architecture that allows news channels to publish articles in a censorship-resistant manner. Unlike traditional news platforms, which are often owned and operated by large media companies, this platform is designed to be decentralized and owned by its users.</li>
      <li>News channels can register on the platform and submit articles, which are stored on the IPFS network. Readers can view the articles and vote on them using a decentralized voting system that helps to ensure high-quality articles rise to the top. The platform also includes a reputation system that assigns a score to each news channel based on the quality and accuracy of their articles, helping readers to identify reputable news sources.</li>
      <li>The platform is designed to be decentralized and censorship-resistant, ensuring that news channels can publish articles without fear of censorship or reprisal.</li>
      <li>Overall, the proposed decentralized news platform for news channels aims to provide a platform for independent news sources to publish articles in a decentralized and censorship-resistant manner, helping to ensure that the public has access to high-quality, accurate news from a variety of sources.</li>
    </ul>
    
    
  </div>
    
</body>
</html>