<div class="navcontainer">
			<nav class="nav">
				<div class="nav-upper-options">
					<div class="nav-option option1">
						<img src="css/images/dashboard.png" class="nav-img" alt="dashboard">
						<h3> <a href="/dashboard">Dashboard</a></h3>
					</div>

					<div class="option2 nav-option">
						<img src="css/images/voting-box.png" class="nav-img" alt="articles">
						<h3> <a href="/vote">Vote Article</a></h3>
					</div>

					<div class="nav-option option3">
						<img src="css/images/publishing.png" class="nav-img" alt="report">
						<h3 style="color:black"> <a style="color:black" href="/publisharticle" class="active">PublishArticle</a></h3>
					</div>

					<div class="nav-option option6">
						<img src="css/images/setting.png" class="nav-img" alt="settings">
						<h3> <a href="#">Settings</a></h3>
					</div>

					<div class="nav-option logout">
						<img src="css/images/logout.png" class="nav-img" alt="logout">
						<h3><a href="/">Logout</a></h3>
					</div>
				</div>

			</nav>
		</div>