<div class="logosec">
			<div class="logo">BREAKING  NEWS</div>
			<img src="css/images/menu.png" class="icn menuicn" id="menuicn" alt="menu-icon">
		</div>

		<div class="searchbar">
			<input type="text"
				placeholder="Search">
			<div class="searchbtn">
				<img src="css/images/search.png" class="icn srchicn" alt="search-icon">
			</div>
		</div>

		<div class="message">
			<div class="circle"></div>
			    <img src="css/images/notification.png" class="icn" alt="">
			<div class="dp">
				<img src="css/images/profile.png" class="dpicn" alt="dp">
			</div>
		</div>